<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Udacity" verbose="1" thread-count="4" >
    <test name="User info test">
        <classes>
            <class name="VerifyUserInfoTest"/>
        </classes>
    </test>
    <test name="Course info test">
        <classes>
            <class name="VerifyCourseInfoTest"/>
        </classes>
    </test>
    <test name="Navigation test1">
        <classes>
            <class name="NavigationTest"/>
        </classes>
    </test>
</suite>